@import url(http://allfont.ru/allfont.css?fonts=open-sans);
body,
button {
  font-family: 'Open Sans', arial;
}
body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  background-color: #f9f9fb;
}
.header {
  display: flex;
  margin-top: 85px;
  height: 60px;
  width: 1170px;
  justify-content: space-between;
}
.header p {
  font-size: 16px;
  line-height: 16px;
  color: #1b1b1b;
  margin: 0;
}
.header p:first-child {
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  color: #2d3181;
  margin-bottom: 15px;
}
.header button {
  background-color: #2d3181;
  color: #fff;
  border: none;
  font-weight: bold;
  height: 52px;
}
.header-button__deployed {
  font-size: 15px;
  width: 301px;
  padding: 0 40px;
}
.header-button__deployed span {
  margin-left: 18px;
}
.header-button__collapsed {
  min-width: 52px;
}
